{% extends "base.html" %}


{% block title %}
Классификация МО
{% endblock %}

{% block navigation_name %}
Результаты классификации микроорганизма по изображению
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header text-primary">Вы загрузили</div>
                <img src="{{ url_for('static', filename='images/user_images/' + user_img) }}" alt="" class="card-img">

                <form action="/process" method="POST" enctype="multipart/form-data">
                    <div class="input-group mb-3 " style="padding: 0 16px; margin-top: 16px">
                        <input class="form-control form-control-sm text-dark" name="image" type="file" id="formFile" required>
                        <button type="submit" class="btn-sm float-right btn-primary"
                                style="margin-left: 20px; margin-right: 0">
                            Исследовать
                        </button>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-7">
            <div class="row">
                {% for prediction in predictions %}
                <div class="col">
                    <div class="card">
                        <div class="card-header">{{prediction.name}}
                            <div class="progress">
                                    <div class="progress-bar bg-success"
                                         style="width: {{prediction.percent + '%'}}">
                                        <i style="color: #39484e">совпадение {{prediction.percent}}%</i>
                                    </div>
                            </div>
                        </div>

                        <img src="{{ url_for('static', filename='images/mo_classes/' + prediction.image) }}" alt=""
                             class="card-img" style="height: 160px; object-fit: cover;">

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}