{% extends "base.html" %}
{% block title %}
    Анализ
{% endblock %}



{% block content %}
    <div class="container">
        <p class="mt-3 text-warning">Помести образец под микроскоп и сделай фото</p>
        <img src="{{ url_for('static', filename='images/microscope.png') }}"
             style="height: 320px; width: 320px">
        <form action="/process" method="POST" enctype="multipart/form-data">
            <div class="container">
                <div class="input-group mb-3 justify-content-center">
                    <input type="file" name="image" class="form-control col-md-3" id="inputGroupFile">
                    <button type="submit" class="btn float-right btn-primary">Провести анализ</button>
                </div>

            </div>
        </form>
    </div>

{% endblock %}